.column {
    width: 100%;
}
.column:first-child {
    position: relative;
    max-width: 810px;
    overflow: hidden;
}
.column:last-child {
    display: flex;
    margin: 50px 112px 0;
}
.poster {
    max-height: 100vh;
    overflow: hidden;
}
.poster:after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: transform .8s cubic-bezier(.3, .8, 0, 1);
}
.poster-brand-name {
    position: absolute;
    top: -114px;
    left: -85px;
    font-family: 'Couturier-Poster';
    font-size: 220px;
    text-transform: uppercase;
    color: #fff;
    writing-mode: vertical-lr;
    transform: translateZ(0);
}
h2 {
    font-family: 'Couturier-Poster';
    font-size: 70px;
    text-transform: uppercase;
}
h2, table {
    margin-bottom: 77px;
}
p {
    margin-bottom: 70px;
    font-family: 'Roboto';
    font-size: 18px;
    text-indent: 40px;
    text-align: justify;
    line-height: 150%;
}
.product-info {
    margin-right: 100px;
    opacity: 0;
    animation: product-info .5s ease forwards;
}
@keyframes product-info {
    100% {
        opacity: 1;
    }
}
.product-info, .product-pictures {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product-info {
    max-width: 552px;
}
.product-pictures {
    max-width: 230px;
}
.img-container{
    position: relative;
}
.img-container:first-child {
    margin-bottom: 30px;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
.button {
    padding: 25px 53px;
    font-family: 'Roboto';
    font-size: 18px;
    text-transform: uppercase;
}
.button-buy {
    background-color: #121212;
    color: #fff;
}
.button-view {
    border: 1px solid #121212;
}
table {
    border-collapse: collapse;
}
td {
    display: inline;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 150%;
    background-color: #fff;
}
td:first-child {
    padding-right: 12px;
}
td:last-child {
    padding-left: 12px;
    text-align: right;
}
tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(../graphics/dot.svg) 0 repeat-x;
}
/* Dynamic */
.show-poster::after {
    transform: translateY(-100%);
}